.b1{
    border: 1px solid #0b0a0a;
    background-color: rgb(249, 243, 237);
    font-size: 16px;
    line-height: 100%;
    text-indent: 0%;

    
}
.ba{

    text-decoration: none;
}
.ba1{
    text-decoration: none;
}

